<!DOCTYPE html>
<html>
<head>
<title>Python Getting Started on Heroku</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"></span>Home</a>
      </li>
      <li>
        <a href="#"></span>SSIDA</a>
      </li>
      <li>
        <a href="/livedata"></span>Live Data</a>
      </li>
      <li>
        <a href="/storeddata"></span>Stored Data</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></span> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://github.com/ernest4/ssida_server_repo.git" target="_blank">GitHub</a></li>
            <li><a href="#">Item 2</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="popover" title="Header" data-content="Content" data-placement="right" data-trigger="focus">How This Platform Works</a></li>
            <li><a href="#">Item 4</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Our Team</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}

<script>
  $(window).on('load', function () {
    $('[data-toggle="popover"]').popover();
   });
</script>
</body>
</html>
