{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>How do we determine good scores and bad scores?</h2>
    </div>
  </div>
    <div class="row">
        <div class="col-xs-12">
          <h6>by <a href="/ourteam">Rory B.</a> - SIDDA Team.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <h6 style="color: grey;">Oct 18, 2018 | 1 min read</h6>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
        <p>Good question... :) Black magic?</p>
    </div>
  </div>
</div>

{% endblock %}
