{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1><a href="/whatissidda">SIDDA</a><a href="/howthisworks" style="color: black;"> Data Processing Server</a></h1>
    <p>This is an interface to view the data that is being processed on this server.</p>
    <a type="button" class="btn btn-lg btn-default" href="/livedata"><span class="glyphicon glyphicon-flash"></span> View Live Data</a>
    <a type="button" class="btn btn-lg btn-primary" href="/storeddata"><span class="glyphicon glyphicon-download"></span> View Stored Data</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <a href="#" class="alert-link">Important </a>notifications will be displayed down here.
  </div>
  <hr>
</div>
{% endblock %}
