{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <H1>Raw Live Data</H1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="rawdata">
        <div class="table-condensed">
          <table class="table table-condensed">
              <thead>
                <tr>
                  {% for key in keys %}
                    <th>{{key}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                  {% for recordDict in recordDicts %}
                  <tr>
                    {% for key, value in recordDict.items %}
                    <td>{{value}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
