{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <H1>Stored Data</H1>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12">
      <p>You may choose how much data you would like to see and generate various visualisations.</p>
    </div>
  </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Basic Query</a></li>
              <li><a data-toggle="tab" href="#menu1">Advanced Query</a></li>
            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                  <br/>
                <div class="row">
                    <div class="col-xs-5">
                        <label for="rowsInput">Choose number rows e.g. 8, 200 or all:</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="rowsInput" placeholder="rows" value="{{ last_run_value }}" required>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-success" id="submitQueryButton">Preview</button>
                        <button class="btn btn-success" id="downloadDataButton">Download</button>
                        <button class="btn btn-info" data-toggle="popover" title="Preview / Download" data-content="Preview in the browser, or download the currently selected number of rows of data as a .csv file" data-placement="top" data-trigger="focus">?</button>
                    </div>
                  </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                  <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#queryControl">Advanced Query</button>
                          <div id="queryControl" class="collapse">
                            Coming soon...
                          </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" id="storeddata">
          <!-- Default panel contents -->
          <div class="panel-heading">Preview</div>
          <div class="panel-body">
            <p>Below you may preview all of the data selected above.</p>

              <div class="row">
                  <div class="col-xs-9">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: 6%;">
                            0%
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <button class="btn btn-info" data-toggle="popover" title="Quantity Bar" data-content="How many rows of the entire database are currently in preview." data-placement="top" data-trigger="focus">?</button>
                  </div>
              </div>
          </div>

        <div class="table-responsive" style="max-height: 50vh; overflow:auto;">
          <table class="table table-bordered table-striped" id="responseTable">
              <thead>
                <tr>
               <!--   {% for key in keys %}
                    <th>{{key}}</th>
                  {% endfor %} -->
                    <th><button class="btn btn-success" data-toggle="popover" title="id" data-content="Primary key for each of the records" data-placement="bottom" data-trigger="focus">id</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="device_id" data-content="Identifies each unique install of the app. If the same device reinstalls the app, a new device id will be generated." data-placement="bottom" data-trigger="focus">device_id</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="latitude" data-content="Location coordinate of the device" data-placement="bottom" data-trigger="focus">latitude</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="longitude" data-content="Location coordinate of the device" data-placement="bottom" data-trigger="focus">longitude</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="accelerometer_x" data-content="Acceleration of the device" data-placement="bottom" data-trigger="focus">accelerometer_x</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="accelerometer_y" data-content="Acceleration of the device" data-placement="bottom" data-trigger="focus">accelerometer_y</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="accelerometer_z" data-content="Acceleration of the device" data-placement="bottom" data-trigger="focus">accelerometer_z</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="gyroscope_x" data-content="Orientation of the device" data-placement="bottom" data-trigger="focus">gyroscope_x</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="gyroscope_y" data-content="Orientation of the device" data-placement="bottom" data-trigger="focus">gyroscope_y</button></th>
                    <th><button class="btn btn-info" data-toggle="popover" title="gyroscope_z" data-content="Orientation of the device" data-placement="bottom" data-trigger="focus">gyroscope_z</button></th>
                    <th><button class="btn btn-warning" data-toggle="popover" title="timestamp" data-content="Time the device sent the data to the server" data-placement="bottom" data-trigger="focus">timestamp</button></th>
                </tr>
              </thead>
              <!-- <tbody id="tbody_response" style="max-height: 75vh; overflow:auto;"></tbody> -->
              <tbody id="tbody_response"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- D3 for visualisations -->
<script src="https://d3js.org/d3.v5.js"></script>
<!-- JavaScripts -->
<script src="{% static 'asyncServerDataLoad.js'%}"></script>
<script src="{% static 'storeddata.js'%}"></script>
{% endblock %}
