{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>What is <span style="color: blue;"><b>S</b></span>ubliminal
                    <span style="color: blue;"><b>I</b></span>mpedance,
                    <span style="color: blue;"><b>D</b></span>iscomfort &
                    <span style="color: blue;"><b>D</b></span>istraction
                    <span style="color: blue;"><b>A</b></span>voidance system about?</h2>
    </div>
  </div>
    <div class="row">
        <div class="col-xs-12">
          <h6>by <a href="/ourteam">Rory B.</a> - SIDDA Team.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <h6 style="color: grey;">Oct 18, 2018 | 5 min read</h6>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
        <p>The problem of the “vocal minority” has plagued review aggregation for as long as the web has
        existed. Reviews for products, services, places and events are typically dominated by a small
        minority of those who “shout the loudest”; either due to an exceptionally bad experience that may
        be unrepresentative; or due to an exceptional zeal or fervour for the brand, stemming perhaps from
        a cult of fanaticism surrounding it: the infamous “fanboys”.</p>

        <p>Is there an objective way to rate user experience for products, services, places and events? Sales
        and return rates can work for the former, as long as there are alternatives, and people aren’t stuck
        with one product or one service to choose from. But for places and events? Typically there are far
        less alternatives. Places and events are less numerous than products and services; land and time is
        a finite resource; while products and services can be conjured up by marketing ex nihilo with new
        offerings, prices and combinations of components. It is trivial to create a new brand of consumer
        item, even a phone, but hard to imagine conjuring up a new shopping centre, park, historic street
        or marketplace as quickly. Similarly, with limited time and space, events can’t be held every day.
        </p>

        <p>For these places and events, review aggregators, such as Google Maps, still rely on manual user
        feedback. Non-response bias is undoubtedly high. A vocal minority, responds. Systematic error
        from unrepresentative bad experiences and trouble customers, or conversely unrepresentative zeal
        from “fanboys” obsessed over atypical features, is indeterminately large. An objective way of
        measuring user experiences at indoor and outdoor places and events is undoubtedly needed.
        </p>

        <p>It has long been known by psychologists that “flow” exists as a state between anxiety and boredom.
            This state is where physical and mental processes flow smoothly from task to task competently,
        with none of the jerks of anxiety nor the restlessness of boredom. Physical and mental “flow” exist
        as inextricable components in a feedback loop. The knock on effects of poor physical flow on
        mental flow is readily apparent.</p>

        <p>Disturbances in gait and movement lead on to disturbances in clarity of thought, flow of conversation
        and depth of ideation. People are no longer “in the zone” when flow is lost. Their experience
        is fragmented by interruptions where consciousness must become aware of movement, navigation
        and the immediate physical here and now. The experience becomes full of distraction and discomfort;
        the discomfort of having to rewind to a previous thought or sentence that happened before
        the interruption. Depth of conversation and connection becomes increasingly difficult.
        </p>

        <p>Practical examples of impedances and distractions in places and events are numerous. Constantly
        having to weave in and out of crowds. Continuous vigilance needed to dodge cyclists and cars.
        The frequent need to stop and get your bearings when navigating a poorly laid out area. Incessant
        auditory and visual noise creating subliminal distraction. Invariably in these places and events
        people experience awkward gait, lack of smooth speed, sporadic acceleration and deceleration and
        resultant jerks in movement. Patterns in directional changes will also be found.
        </p>

        <p>These characteristic perturbations in speed, acceleration, direction, and higher derivatives of movement
        like jerks, can be measured. Patterns can be found. And hopefully the perturbations of
        physical flow will provide a proxy for the immeasurable discomfort and disruption of experience of
        disturbance to mental flow. An objective measure of the comfort and flow of human experience
        will finally be measurable. Reviews will finally be verified by objective ground truths, or replaced
        altogether.
        </p>

        <p>The Business Logic behind our app involves learning the activity level of people in certain areas at
        certain times, with the associated discomfort/distraction level the respective people subliminally
        experienced with this level of activity. The level of activity is not only what is learned to be
        predicted, but also the interference with physical and mental flow this area will have for people at
        this level of activity.
        </p>

        <p>For example, dancing may be high activity but involves high physical and mental flow, and thus low
        discomfort and distraction. There is no interference with flow. Social interaction flows smoothly.
        People will achieve good flow in an area associated with dancing despite the high level of activity.
        Conversely, walking may be low activity but may be quite uncomfortable with many stops and starts
        and directional changes due to cyclists and crowds. There can be poor flow at low levels of activity.
        Thoughts, conversations and social interaction can be frustrated with constant interruption.</p>

        <p>It is thus important to not only signal to people the level of activity they can expect but also
        whether it will be an enjoyable experience with good flow. People may feel like high activity, such
        as tourists visiting a bustling marketplace, but still will want it to be an experience where they can
        focus on their own thoughts, conversations and social interactions without constant distraction.</p>
    </div>
  </div>
</div>

{% endblock %}
